.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.spacing{
  border: 1px solid black;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color:linear-gradient(rgb(168, 118, 127),rgb(114, 114, 209),rgb(173, 145, 93));
}

.container {
  background-color:linear-gradient(rgb(168, 118, 127),rgb(114, 114, 209),rgb(173, 145, 93));
  position:fixed;
}
.sidebar {
  height:800px;

  width:250px;
  background-color:rgb(115, 223, 181);
}
.List{
  
  background-color:rgb(115, 223, 181);

}
.app {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.field {
  margin-bottom: 1rem;
}
